/* Color scheme for this project is #b3d9ff*/

html, body {
    margin: 0;
    padding: 0;
    background-color: #b3d9ff;
    /* background-image: url("Images/Numbers.png"); */
    background-repeat: repeat;
    background-position: center; 
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;  
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;

}

.screen {
    text-align: left;
    background-color: #222222;
    color: #fff;
    padding: 0.5em 0.75em;
    text-align: right;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
}

.keys > * {
    background-color: #fff;
    padding: 35px 35px;
    position: relative;
}

button {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 175%;
    font-weight: 100;
    line-height: 1,5;
}

    