/* Color scheme for this project is #b3d9ff*/

html, body {
    margin: 0;
    padding: 0;
    background-color: #b3d9ff;
    /* background-image: url("Images/Numbers.png"); */
    background-repeat: repeat;
    background-position: center; 
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;  
}

.calculator {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.screen {
    background-color: #222222 !important;
    color: #fff;
    text-align: right;
    grid-column: 1 / span 4;
    border-radius: 25px 25px 0 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 250%;
    font-weight: 200;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
}

.keys > * {
    background-color: #fff;
    padding: 35px 35px;
    position: relative;
}

#keys-equal {
    background-color: #fe886a;
    grid-column: 4;
    grid-row: 3 / span 6;
    border-bottom-right-radius: 25px;
}

#keys-zero {
    border-bottom-left-radius: 25px;
}

button {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 175%;
    font-weight: 100;
    line-height: 1,5;
}
